<div class="form-group">
  <label>Background</label>
  <select name="background" id="background">
    <option>None (+0)</option>
    {{#each backgrounds as |background a|}}
    <option value="{{background.id}}">{{background.name}} (+{{background.value}})</option>
    {{/each}}
  </select>
</div>

<div class="form-group">
  <label>Title</label>
  <select name="titleSelect" id="titleSelect">
    <option>Does not apply</option>
    <option value="{{title}}">{{title}} (+2)</option>
  </select>
</div>