<h3>Titles and Backgrounds</h3>

<section class="title infobox">
  <h3 class="box-title">
    Title
  </h3>
  
  <ul class="traits-list">
    <li class="tag action-training title-edit rollable">{{title}} <i class="fa-solid fa-edit"></i></li>
  </ul>
</section>

<table class="skills" style="width: 250px;">
  <thead>
  <tr class="skills-header">
    <th class="background-name">Name</th>
    <th class="background-value">Value</th>
    <th class="background-delete">x</th>
  </tr>
  </thead>

  <tbody>
  
  {{#each backgrounds as |background b|}}
  <tr data-background="{{background.id}}">
    <td style="width: auto"><h4>{{background.name}}</h4></td>
    <td style="width: 10%" class="background-value rollable">{{background.value}}</td>
    <td style="width: 10%" class="background-remove"><i class="fa-solid fa-minus rollable"></i></td>
  </tr>
  {{/each}}
  
  </tbody>
</table>

<!-- Add Button -->
<div class="add-background">
  <a class="action-training background-add"><i class="fa-solid fa-plus"></i></a>
</div>